


.product-details-container {
  background-color: #212529;
  color: white;
  border: 1px solid #ccc;
}

.product-image {
  padding: 15px;

}

.custom-section {
  background-color: #212529;
  color: white;
  /* Ajusta otros estilos según tus necesidades */
}