
.subtotalFrame {
  border: 1px solid #666;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  display: inline-block;
}


.quantityFrame {
  font-weight: bold;
}

.outOfStock {
  background-color: grey ; 
  cursor: not-allowed;
}


.card {
  margin-bottom: 50px; 
}





